:local(.PanelDemo) {
    .Panel + .Panel {
        margin-left: 20px;
    }
    .Panel:nth-child(0n+2) {
        font-size: x-small;
        font-family: 'Lucida Console';
        $padding: 6px;
        header {
            padding: $padding;
        }
        > div {
            padding: $padding;
            background: #666;
            color: white!important;
        }
    }
}
